
:root {
  --primary-color: #030008;
  --secondary-color: #f2f2ee;
  --font-family: 'inter', sans-serif;
  --font-big:9vw;
  

}

body {
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100%;
  overflow-x: hidden;
}


#site-title {
  font-size: 6vw;
  line-height: 0.9em;
}

#logo-screen {
  position: absolute;
  top: -250px;
  left: 40%;
  color: var(--secondary-color);
  transform: scale(0.65);
}

.accordion {
  .item {
    line-height: 6em;
    border-bottom-width: 1em;
    button {
      font-size: var(--font-big);
      font-weight: 900;
      padding-top: 0.18em;
      padding-bottom: 0.1em;
      padding-left: 30px;
    }
    .content {
      white-space: pre-line;
      margin-bottom: 0.5em;
      margin-right: 15vw;
      font-weight: 400;
      margin-left: 90px;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }
  }
}


#menu {
  position: absolute;
  top: 100vh;
  width: 100vw;
  font-weight: 900;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
  font-size: 8em;
  font-weight: 700;
}

#menu-opener {
  padding-bottom: 0.16em;
  font-weight: 700;
  padding-right: 30px;
}
